@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");
/*Use:=>  font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: transparent radial-gradient(closest-side at 50% 50%, #E0EEF8 0%, #F0F4FF 100%) 0% 0% no-repeat padding-box;
}
:root {
  --primary: #8d8d8d;
  --secondry: #000000;
  --txtLit: #e6e6e6;
  --txtMed: #c4c4c4;
  --txtDrk: #212121;
  --txtDim: #4d4d4d;
  --dbrRadious: 4px;
  --btn:#25C2A0
}

.row {
  margin: 0;
}

p {
  font-size: 14px;
  color: var(--txtDrk);
  font-weight: 300;
}

.secSpacer {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* +++++++++++++++++++++++++++++++++
          Button CSS 
++++++++++++++++++++++++++++++++++++*/
:root {
  --nwidth: 12px 55px;
  --btnFontSize: 16px;
}


/* Mini btns  */
.miniBTNs a {
  font-size: 12px;
  padding: 5px 8px;
  font-weight: 300;
}

.miniBTNs a:not(:last-child) {
  margin-right: 15px;
}
/* +++++++++++++++++++++++++++++++++
          Main Heading CSS 
++++++++++++++++++++++++++++++++++++*/

.mainHd h3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--txtDrk);
  /* margin: 0 0 40px 0; */
  padding: 30px 10px 10px 0;
  position: relative;
}

.mainHd h3::after {
  content: "";
  width:239px;
  height: 3px;
  background-color: var(--btn);
  position: absolute;
  left: 0;
  bottom: 0;
}



